<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.csdn.mapper.ArticleMapper">
    <resultMap id="ArticleResultMapper" type="com.pan.csdn.bean.Articles">
        <!--主键-->
        <id column="id" property="id"></id>
        <!--普通字段-->
        <result column="title" property="title"></result>
        <result column="cid" property="cid"></result>
        <result column="category_name" property="categoryname"></result>
        <result column="comment" property="comment"></result>
        <result column="cover" property="cover"></result>
        <result column="scontent" property="scontent"></result>
        <result column="browse" property="browse"></result>
        <result column="userid" property="userid"></result>
        <result column="releasetime" property="releasetime"></result>
        <result column="uname" property="uname"></result>
    </resultMap>
    <select id="getArticles" resultMap="ArticleResultMapper">
        select article.*,category.category_name,user.uname from article,user,category
        where article.userid = user.id
        and article.cid = category.id
        order by releasetime desc
    </select>
    <select id="getArticlesHot" resultMap="ArticleResultMapper">
        select article.*,category.category_name,user.uname from article,user,category
        where article.userid = user.id
        and article.cid = category.id
        order by browse desc
    </select>
    <select id="getArticlesCommend" resultMap="ArticleResultMapper">
        select article.*,category.category_name,user.uname from article,user,category
        where article.userid = user.id
        and article.cid = category.id
        order by comment desc;
    </select>
    <select id="getArticlesWait" resultMap="ArticleResultMapper">
        select article.*,category.category_name,user.uname from article,user,category
        where article.userid = user.id
        and article.cid = category.id
        ORDER BY comment
    </select>

    <select id="getArticlesCategory" resultMap="ArticleResultMapper">
        select article.*,category.category_name,user.uname from article,user,category
        where article.userid = user.id
        and article.cid = category.id
        and article.cid = #{id}
        order by releasetime desc
    </select>
    <select id="getArticlesCategoryHot" resultMap="ArticleResultMapper">
        select article.*,category.category_name,user.uname from article,user,category
        where article.userid = user.id
        and article.cid = category.id
        and article.cid = #{id}
        order by browse desc
    </select>
    <select id="getArticlesCategoryCommend" resultMap="ArticleResultMapper">
        select article.*,category.category_name,user.uname from article,user,category
        where article.userid = user.id
        and article.cid = category.id
        and article.cid = #{id}
        order by comment desc;
    </select>
    <select id="getArticlesCategoryWait" resultMap="ArticleResultMapper">
        select article.*,category.category_name,user.uname from article,user,category
        where article.userid = user.id
        and article.cid = category.id
        and article.cid = #{id}
        ORDER BY comment
    </select>

</mapper>