<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-DFRZ</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet"  th:href="@{/css/font.css}">
    <link rel="stylesheet"  th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}" ></script>
    <script  th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
  
  <body>
  <div class="x-body layui-anim layui-anim-up">
      <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_title" class="layui-form-label">标题
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_title" name="title" required="" lay-verify="title"
                         autocomplete="off" class="layui-input" th:value="${article.title}">
              </div>
          </div>


          <div class="layui-form-item">
              <label for="L_comment" class="layui-form-label">评论
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_comment" name="comment" required="" lay-verify="comment"
                         autocomplete="off" class="layui-input" th:value="${article.comment}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_browse" class="layui-form-label">浏览
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_browse" name="browse" required="" lay-verify="browse"
                         autocomplete="off" class="layui-input" th:value="${article.browse}">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_userid" class="layui-form-label">作者ID
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_userid" name="userid" required="" lay-verify="userid"
                         autocomplete="off" class="layui-input" th:value="${article.userid}">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_releasetime" class="layui-form-label">发布时间
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_releasetime" name="releasetime" required="" lay-verify="releasetime"
                         autocomplete="off" class="layui-input" th:value="${article.releasetime}">
              </div>
          </div>


          <div class="layui-form-item">
              <label class="layui-form-label" lay-filter="edit" lay-submit="">
              </label>
              <button  class="layui-btn" lay-filter="edit" lay-submit="">
                  修改
              </button>
              <button  type="button" class="layui-btn layui-btn-danger" id="reset">
                  恢复
              </button>
          </div>
      </form>
  </div>
    <script>
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;

          form.verify({
              comment: [ /[0-9]$/, '评论数只能输入数字'],
              browse: [ /[0-9]$/, '浏览数只能输入数字'],
          });

        //监听提交
          form.on('submit(edit)', function(data){
              //前端将对象转json字符串
              console.log(JSON.stringify(data.field));
              //Ajax提交数据
              $.ajax({
                  url:"/article/edit",
                  dataType:"json",
                  data:data.field,
                  success:function (data) {
                      if (data.code==0){
                          layer.alert("修改成功", {icon: 6},function () {
                              parent.location.reload();//修改成功后刷新父界面
                              // 获得frame索引
                              var index = parent.layer.getFrameIndex(window.name);
                              //关闭当前frame
                              parent.layer.close(index);
                          });
                      }
                      else{
                          layer.alert("修改失败");
                      }

                  }
              });

              return false;
          });


      });
      var reset = document.getElementById("id");
      reset.onclick = function (obj) {

          var data = obj.data;
        x_admin_show('查看Article知识文章','/article/toDetail/'+data.id,500,400);
      }
  </script>


  </body>

</html>