<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-DFRZ</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet"  th:href="@{/css/font.css}">
    <link rel="stylesheet"  th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}" ></script>
    <script  th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
  
  <body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_title" class="layui-form-label">标题
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_title" name="title" required="" lay-verify="title" placeholder="请输入标题"
                  autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_comment" class="layui-form-label">评论
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_comment" name="comment" required="" lay-verify="comment" placeholder="请输入评论数"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">只能输入数字
              </div>
          </div>
            <div class="layui-form-item">
                <label for="L_browse" class="layui-form-label">浏览
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_browse" name="browse" required="" lay-verify="browse" placeholder="请输入浏览数"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">只能输入数字
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_userid" class="layui-form-label">作者ID
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_userid" name="userid" required="" lay-verify="userid"  placeholder="请输入作者ID"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_releasetime" class="layui-form-label">发布时间
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_releasetime" name="releasetime" required="" lay-verify="releasetime" placeholder="请输入发布时间"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">yyyy-MM-dd
                </div>
            </div>


          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
              <button type="button" class="layui-btn layui-btn-danger" onclick="doReset()">重置</button>
          </div>
      </form>
    </div>
    <script>
        var layui_index;
        var layedit;
        layui.use('layedit',function () {
            layedit = layui.layedit;
            layui_index = layedit.build('demo');

        })
    </script>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

            form.verify({
            comment: [ /[0-9]$/, '评论数只能输入数字'],
            browse: [ /[0-9]$/, '浏览数只能输入数字'],
            });
          //监听提交
          form.on('submit(add)', function(data){
            console.log(JSON.stringify(data.field));
            $.ajax({
                url:"/article/artadd",
                dataType:"json",
                data:data.field,
                success:function (data) {
                    if(data.code == 0){
                  layer.alert("增加成功", {icon: 6},function () {
                      parent.location.reload();
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);
                      parent.location.reload();
                    })
              }else{
                  layer.alert("增加成功",)
              }

                }
            });
            return false;
          });
        });
        //
       function doReset(){
            $("#L_title").val("");
            $("#L_comment").val("");
            $("#L_browse").val("");
            $("#L_userid").val("");
            $("#L_releasetime").val("");
        };
    </script>


  </body>

</html>