<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-DFRZ</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet"  th:href="@{/css/font.css}">
    <link rel="stylesheet"  th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}" ></script>
    <script  th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
        <div class="layui-form-item">
            <label for="L_id" class="layui-form-label">
                <span class="x-red"></span>ID
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_id" name="id" required="" lay-verify="id"
                       autocomplete="off" class="layui-input" th:value="${user.id}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_uname" class="layui-form-label">
                <span class="x-red"></span>用户名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_uname" name="uname" required="" lay-verify="uname"
                       autocomplete="off" class="layui-input" th:value="${user.uname}">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_upass" class="layui-form-label">
                <span class="x-red"></span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_upass" name="upass" required="" lay-verify="upass"
                       autocomplete="off" class="layui-input" th:value="${user.upass}">
            </div>
        </div>
</div>

</body>

</html>