<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-DFRZ</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet"  th:href="@{/css/font.css}">
    <link rel="stylesheet"  th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}" ></script>
    <script  th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
            <input name="id" type="hidden" th:value="${user.id}">
            <div class="layui-form-item">
                <label for="L_uname" class="layui-form-label">
                    <span class="x-red">*</span>用户名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_uname" name="uname" required="" lay-verify="uname"
                           autocomplete="off" class="layui-input" th:value="${user.uname}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>将会成为您唯一的登入名
                </div>
            </div>


            <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" required="" lay-verify="pass"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                  autocomplete="off" class="layui-input">
              </div>
          </div>

            <div class="layui-form-item">
                <label for="L_headpic" class="layui-form-label">
                    上传头像
                </label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="test1">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                    <img id="img_headpic" th:src="@{${url}}" width="100px" height="100px">
                    <input type="hidden" id="headpic" name="headpic" th:src="${user.headpic}"/>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label" lay-filter="edit" lay-submit="">
                </label>
                <button  class="layui-btn" lay-filter="edit" lay-submit="">
                    修改
                </button>
                <button  type="button" class="layui-btn layui-btn-danger">
                    重置
                </button>
            </div>

        </form>
    </div>
    <script>
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
      
        //自定义验证规则
        form.verify({
          nikename: function(value){
            if(value.length < 5){
              return '昵称至少得5个字符啊';
            }
          }
          ,pass: [/(.+){6,12}$/, '密码必须6到12位']
          ,repass: function(value){
              if($('#L_pass').val()!=$('#L_repass').val()){
                  return '两次密码不一致';
              }
          }
        });

        //监听提交
//监听提交
          form.on('submit(edit)', function(data){
              //前端将对象转json字符串
              console.log(JSON.stringify(data.field));
              //Ajax提交数据
              $.ajax({
                  url:"/user/edit",
                  dataType:"json",
                  data:data.field,
                  success:function (data) {
                      if (data.code==0){
                          layer.alert("修改成功", {icon: 6},function () {
                              parent.location.reload();//修改成功后刷新父界面
                              // 获得frame索引
                              var index = parent.layer.getFrameIndex(window.name);
                              //关闭当前frame
                              parent.layer.close(index);
                          });
                      }
                      else{
                          layer.alert("修改失败");
                      }

                  }
              });

              return false;
          });

        
        
      });
  </script>
    <script>
        layui.use('upload', function(){
            var upload = layui.upload;

            //执行实例
            var uploadInst = upload.render({
                elem: '#test1' //绑定元素
                ,url: '/user/uploadHeadPic' //上传接口
                ,done: function(res){
                    //上传完毕回调
                    layer.msg("上传成功");
                    var headpic=res.data.src;
                    $("#img_headpic").attr("src","/user/"+headpic);
                    $("#headpic").val(headpic);
                }
                ,error: function(){
                    //请求异常回调
                    layer.msg("上传失败");
                }
            });
        });
    </script>


  </body>

</html>